<div class="container">
	<div class="row gender-selector-wrp">
		<div class="col">
			<p>Select preferable gender:</p>

			<div class="btn-group btn-group-toggle gender-selector" data-toggle="buttons">
				<label class="btn btn-secondary active">
					<input type="radio" name="gender" value="male" id="gender-male" checked (change)="setGender($event)" autocomplete="off"> Male
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="gender" value="female" id="gender-female" (change)="setGender($event)" autocomplete="off"> Female
				</label>
			</div>
		</div>
	</div><!-- row -->


	<div class="row">
		<div class="col">
			<p>You can also set preferable temperature and humidity:</p>
		</div>
	</div>

	<div class="row weather-condition-wrp">
		<div class="col">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Temperature</span>
				</div>
				<input class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="{{ perfectWeatherConditions[gender].temperature }}" type="tel" id="custom-temp" (keyup)="setCustomWeather($event)">
				<div class="input-group-append">
					<span class="input-group-text">˚ C</span>
				</div>
			</div>
		</div><!-- col -->

		<div class="col">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Humidity</span>
				</div>
				<input class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="{{ perfectWeatherConditions[gender].humidity }}" type="tel" id="custom-humid" (keyup)="setCustomWeather($event)">
				<div class="input-group-append">
					<span class="input-group-text">%</span>
				</div>
			</div>
		</div><!-- col -->
	</div><!-- row -->


	<div class="row" *ngIf="!dataLoaded">
		<div class="col" style="text-align: center;">
			<p>Loading...</p>
			<div class="lds-ripple"><div></div><div></div></div>
		</div>
	</div>


	<div class="row" *ngIf="dataLoaded">
		<div class="col">
			<ul class="list-group stations-list" *ngIf="bestStation">
				<li class="list-group-item d-flex justify-content-between align-items-center">
						<span>{{ bestStation.name }}</span>

					<span class="badge-wrp">
						<span class="weather-icon" [innerHTML]="getWeatherIcon(bestStation)"></span>

						<span class="badge badge-primary badge-pill">
							{{ bestStation.main.temp }}˚ C / {{ bestStation.main.humidity }}%
						</span>
					</span>

					<span class="forecast-wrp">
						<button type="button" class="btn btn-link" (click)="getForecast($event, bestStation.id)">Get 5-days forecast</button>
						<svg width="200" height="38" id="forecast-{{ bestStation.id }}" class="forecast-chart"></svg>
					</span>
				</li>
			</ul>

			<div *ngIf="!bestStation">
				<p>Sorry, there is no place in the world with this strict weather conditions (means that no cities with exact 21˚ C / 50% were found).</p>
				<p>But don't worry, we found a good fit for you (with 1˚ C and 5% deviation), take a look:</p>
			</div>

			<p *ngIf="bestStation">Worth mentioning:</p>
		</div><!-- col -->
	</div><!-- row -->


	<div class="row" *ngIf="dataLoaded">
		<div class="col">
			<ul class="list-group stations-list">
				<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let station of suitableStations | slice:0:suitableStationsToShow">
					<span>{{ station.name }}</span>

					<span class="badge-wrp">
						<span class="weather-icon" [innerHTML]="getWeatherIcon(station)"></span>

						<span class="badge badge-primary badge-pill">
							{{ station.main.temp }}˚ C / {{ station.main.humidity }}%
						</span>
					</span>

					<span class="forecast-wrp">
						<button type="button" class="btn btn-link" (click)="getForecast($event, station.id)">Get 5-days forecast</button>
						<svg width="200" height="38" id="forecast-{{ station.id }}" class="forecast-chart"></svg>
					</span>
				</li>
			</ul>
		</div><!-- col -->
	</div><!-- row -->

	<div class="row justify-content-center" *ngIf="suitableStations && suitableStations.length && haveMoreStationsToLoad">
		<div class="col-4 load-more-wrp">
			<button type="button" class="btn btn-outline-primary" (click)="showMoreStations()">Load more cities</button>
		</div>
	</div>
</div><!-- container -->


