.gender-selector-wrp, .weather-condition-wrp, .stations-list {
    margin-bottom: 30px;
}

.stations-list {
    .badge-wrp {
        display: flex;
        align-items: center;
    }

    .weather-icon {
        margin-right: 15px;
        font-size: 1.4rem;
    }
}

.load-more-wrp {
    text-align: center;
}